@{
    ViewData["Title"] = "ТрансНефтьЭнерго - Главная";
}

<div class="container-sm">
    <br />
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div id="card1" class="card">
                <div class="card-header">
                    <h3>Головные</h3>
                    <h3>организации</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с головными организациями</p>
                    <br />
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div id="card2" class="card">
                <div class="card-header">
                    <h3>Дочерние</h3>
                    <h3>организации</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с дочерними организациями</p>
                    <br />
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div id="card3" class="card">
                <div class="card-header">
                    <h3>Объекты</h3>
                    <h3>потребления</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с объектами потребления</p>
                    <br />
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <hr style="width:100%;" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div id="card4" class="card">
                <div class="card-header">
                    <h3>Точки измерения</h3>
                    <h3>электроэнергии</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с точками учета электроэнергии</p>
                    <br />
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div id="card5" class="card">
                <div class="card-header">
                    <h3>Точки поставки</h3>
                    <h3>электроэнергии</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с точками поставки электроэнергии</p>
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div id="card6" class="card">
                <div class="card-header">
                    <h3>Расчетные</h3>
                    <h3>приборы учета</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с расчетными приборами учета</p>
                    <br />
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <hr style="width:100%;" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div id="card7" class="card">
                <div class="card-header">
                    <h3>Счетчики</h3>
                    <h3>электроэнергии</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы со счетчиками электроэнергии</p>
                    <br />
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div id="card8" class="card">
                <div class="card-header">
                    <h3>Трансформаторы</h3>
                    <h3>тока</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с трансформаторами тока</p>
                    <br />
                    <a asp-action="Index" asp-controller="LeadDivisions" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div id="card9" class="card">
                <div class="card-header">
                    <h3>Трансформаторы</h3>
                    <h3>напряжения</h3>
                    <p class="card-text">Раздел предоставляет инструменты для работы с трансформаторами напряжения</p>
                    <a asp-action="Index" asp-controller="VoltageTransformers" class="btn btn-outline-info btn-sm">Перейти к разделу »</a>
                </div>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript">
    $(function () {
        $('#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9').mouseover(function () {
            $(this).addClass('border-info');
        });

        $('#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9').mouseout(function () {
            $(this).removeClass('border-info');
        });
    });
</script>
