@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Menu {
    <div id="menu">
        <nav class="navbar navbar-expand-sm bg-info navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">TNE Client</a>
                    <div class="dropdown-menu bg-info">
                        <a class="dropdown-item text-white bg-info" href="">Students</a>
                        <a class="dropdown-item text-white bg-info" href="">Groups</a>
                        <a class="dropdown-item text-white bg-info" href="">Departments</a>
                        <a class="dropdown-item text-white bg-info" href="">Faculties</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white bg-info" href="">Teachers</a>
                        <a class="dropdown-item text-white bg-info" href="">Subjects</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white bg-info" href="">Lectures</a>
                        <a class="dropdown-item text-white bg-info" href="">Auditory</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Schedule</a>
                </li>
            </ul>
        </nav>
    </div>
}
