@model BillingPointDto

@{
    ViewData["Title"] = "ТрансНефтьЭнерго -  Расчетный прибор учета электроэнергии";
}

<div class="container-lg">
    <br>
    <h3 class="text-center">Создание расчетного прибора учета электроэнергии</h3>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form id="delete" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ControlPointName" class="control-label"></label>
                    <select asp-for="ControlPointId" class="form-control" asp-items="ViewBag.ControlPointList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryPointName" class="control-label"></label>
                    <select asp-for="DeliveryPointId" class="form-control" asp-items="ViewBag.DeliveryPointList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" class="form-control"/>
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndTime" class="control-label"></label>
                    <input asp-for="EndTime" class="form-control"  />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <a asp-action="Index" onclick="return confirm('Изменения не будут сохранены. Уверены, что хотите покинуть страницу?')" class="btn btn-danger">К списку »</a>
                    <input type="submit" value="Сохранить" onclick="return confirm('Сохранить изменения?')" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>
</div>

